*.swo
emacs/
.auctex-auto/
*.bbl
*.pdf
*.tex
_minted-README/
*.html
.config/zsh/.zhistory
bookmarks
*.swp
*.svg
*.png
cronjobs/.croninfo/batteryinfo
.zcompdump
batteryinfo
.config/zsh/.zcompdump
.config/cache/*
