*.swo
emacs/
.auctex-auto/
*.bbl
*.pdf
*.tex
_minted-README/
*.html
.config/zsh/.zhistory
bookmarks
*.swp
*.svg
*.png
cronjobs/.croninfo/batteryinfo
.zcompdump
batteryinfo
.config/zsh/.zcompdump
.config/cache/*
libreoffice/
glib-2.0/
share/
qpdfview/
plugged/
.local/
vifmimgpdffile
vifmimgpdfpage
.config/QtProject.conf
neofetch/
FreeCAD/
GIMP/
ksnip/
transmission/
gcolor3/
aqemu/
configstore/
dconf/
htop/
Signal/
vifminfo
.config/doom/custom.el
.config/mozilla/
.config/Code - OSS/
.config/Nextcloud/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc*
.config/Trolltech.conf
.config/akregatorrc
.config/autostart/
.config/baloofilerc
.config/k*
.config/plasma*
.config/systemsettingsrc
.config/thefuck/
.config/xsettingsd/
.config/libaccounts*
.config/powermanagementprofilesrc
.config/session
.config/user-dirs.dirs
.config/mimeapps.list
.config/keepassxc/
.config/pulse/
.config/pavucontrol.ini
.config/jgit
.config/doom/config.el
