!#************************************************
!#               Cursor
!#************************************************
Xcursor.theme: gentoo
Xcursor.size: 16

!#************************************************
!#               Font
!#************************************************
Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight


!#************************************************
!#               
!#************************************************
*background: #282828
*foreground: #fbf1c7
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

!#************************************************
!#              Terminal Colors 
!#************************************************
! black
*.color0:       #292f34
*.color8:       #0a6355

! red
*.color1:       #ab4642
*.color9:       #ab4642

! green
*.color2:       #34BE5B
*.color10:      #34BE5B

! yellow
*.color3:       #f7ca88
*.color11:      #f7ca88

! blue
*.color4:       #006a78
*.color12:      #006a78

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #d8d8d8
*.color15:      #f8f8f8


!#************************************************
!#              URxvt Settings
!#************************************************


urxvt*geometry:             90x30
urxvt*loginShell:           true
urxvt*internalBorder:       0
urxvt*lineSpace:            0
URxvt*saveLines:            12000
!# transparency
urxvt*depth:                32
URxvt*background:           [30]#000000

urxvt*font:                 xft:Inconsolata:pixelsize=22
URxvt*letterSpace:          -1

URxvt*scrollBar:            false

URxvt*scrollstyle:          plain

!#************************************************
!#              perls
!#************************************************
URxvt.perl-ext-common:      default,resize-font,selection-to-clipboard,pasta,matcher,keyboard-select

!#************************************************
!#              fontsize
!#************************************************
URxvt.keysym.C-Up:          font-size:increase
URxvt.keysym.C-Down:        font-size:decrease
URxvt.keysym.C-S-Up:        font-size:incglobal
URxvt.keysym.C-S-Down:      font-size:decglobal
URxvt.keysym.C-equal:       font-size:reset
URxvt.keysym.C-slash:       font-size:show

!#************************************************
!#              change ui
!#************************************************
! change to default ui
URxvt.keysym.C-1: command:\033]11;#282828\007\033]10;#fbf1c7\007

! change to white-black ui 
URxvt.keysym.C-7: command:\033]11;#ffffff\007\033]10;#000000\007

! change to white-green ui
URxvt.keysym.C-8: command:\033]11;#ffffff\007\033]10;#008000\007

! change to black-green  ui
URxvt.keysym.C-9: command:\033]11;#000000\007\033]10;#008000\007
