[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[gentoo]
row=2
col=0

[home]
row=3
col=0

[Wurzelordner des Dateisystems]
row=0
col=0

[arch]
row=1
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/vlr]
row=6
col=0

